body,ol,ul,h1,h2,h3,h,h5,h6,p,th,td,dl,dd,form,fieldest,legend,input,textarea,select{margin:0;padding:0;}
body,html{
	font:14px "微软雅黑",arial;
}
h1,h2,h3,h,h5,h6,b,strong{
	font-weight: normal;
	font-size: 100%;
}
i,em{
	font-style: normal;	
}

li{
	list-style: none;
}
a{
	text-decoration: none;
}
input{
	outline: none;
}
