*{
	padding: 0;
	margin: 0;
}
.container{
	width: 1240px;
	margin: 0 auto;
}
.toggle1{
	position: relative;
    width: 100%;
    top: 0;
    z-index: 999;
    display: none;
   background: red;
    transition: all .3s ease;
}

.header-box{
	height: 282px;
	position: relative;
}
.header{
	position: relative;
	height: 282px;
}
.logo{
	padding: 28px 0;
	float: left;
	background:  no-repeat;
	height: 24px;
	width: 125px;
}
.logo a{
	display: block;
	height: 24px;
	width: 125px;
	background:url(../images/logo2.png) no-repeat;
	text-indent: -9999px;
}
.nav{
	height: 82px;
	float: right;
    white-space: nowrap;
}
.nav li{
	float: left;
}
.nav li a{
	display: block;
	color: #333;
    padding: 31px 20px 30px;
    line-height: 21px;
    font-size: 14px;
    transition: color .1s linear;
}
.header a:hover{
	color: #00b9f2;
}
.form{
	position: relative;
    float: right;
    margin: 26px 5px 0 10px;
    width: 170px;
    height: 30px;
    line-height: 29px;
    font-size: 12px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #999;
    box-sizing: border-box;
}
.form input{
	    display: block;
    border: 0;
    padding: 0;
    outline: 0;
    width: 127px;
    height: 20px;
    margin-left: 15px;
    margin-top: 5px;
    transition: width .5s;
    font-size: 12px;
    line-height: 20px;
    color: #333;
    background: transparent;
    box-sizing: content-box;
    outline-offset: 0;
}
.form a{
	   position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 36px;
    height: 32px;
    background-position: center;
    cursor: pointer;
    color: #515151
}
.form a i{
	font-size: 16px;
	position: absolute;
	top: 0;
	right: 7px;
}
.header-item{
	float: right;
    padding: 28px 0 0 8px;
    text-align: right;
    font-size: 12px;
    position: relative;
        z-index: 105;
}   
.header-item2{
	position: relative;
    float: right;
    margin: 27px 0 0 8px;
    width: 29px;
    height: 29px;
    text-align: center;
    font-size: 12px;
    text-indent: 3px;
    line-height: 10px;
    background-position-y: center;
}
.header-item a{
	width: 29px;
    height: 29px;
    margin-top: -5px;
}
.header-item a img{
    display: block;
    color: #333;
}
.header-item-box{
	position: absolute;
	top: 62px;
	right: 5px;
	display: none;
    border-bottom: 0;
    height: 134px;
    width: 90px;
    background: #fff;
    text-align: center;
}
.header-item-box i{
	position: absolute;
	top: -12px;
	left: 39px;
	width: 0;
	height: 0;
	border: 6px solid #000;
	border-color: transparent transparent #fff;
}
.header-item-box li{
	margin-top: 16px;
}
.header-item-box li a{
	color: #000;
}
.sub-nav{
	position: absolute;
	top: 82px;
	left: 0;
	height: 200px;
	background: #fff;
	display: none;
}
.sub-nav__wrap{
	background: #fff;
	height: 200px;
}
.sub-nav__wrap a{
	float: left;
	display: block;
	margin-right: 20px;
    padding-top: 45px;
    text-align: center;
    color: #eee;
}
.sub-nav__wrap a img{
	height: 110px;
}
.header-box .nav li:nth-of-type(1) a:hover .sub-nav .sub-nav__wrap{
	display: block;
}