.container{
	margin: 0 auto;
	width: 1240px;
}
.header{
	height: 80px;
}
.logo{
	float: left;
	width: 125px;
	height: 80px;
}
.logo img{
	width: 125px;
	height: 23px;
	margin: 28px 0px;
}
.header_right{
	float:right;
}
.header_right ul{
	float: left;
	width: 585px;
	height: 80px;
	margin-left:220px;
	line-height: 80px;
}
.header_right ul li{
	text-align: center;
	float: left;
    margin: 0 20px 0 15px;
    
}
.header_right ul li a {
	display: block;
	font-weight: 400;
}
.inp{
	float: left;
	height: 30px;
    border-radius: 20px;
    margin: 24px 0 0 18px;
    width: 170px;
    border: 1px solid rgba(0,0,0,.15);
    line-height: 30px;
}
.inp input{
	margin-left: 20px;
	width:120px;
	border: 0;
}
.login{
	float: left;
}
.login span{
	line-height: 80px;
	margin-left: 12px;
}
/* 头部结束  */
#container{
	background: #f6f8fb;
    height: 70px;
}
.-container{
	background: #f6f8fb;
	position: relative;
    height: 70px;
    margin: 0 auto;
}
.ulist{
    font-weight: 400;
    float: right;
    margin-top: 26px;
    margin-right: -15px;
}
.ulist li{
	float: left;
	border-right: 1px solid #dedede;
}
.ulist li:last-child{
	border: 0;
}
.ulist li a{
	display: block;
    padding: 0 20px;
    line-height: 20px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    transition: color .3s
}
.name{
	position: absolute;
    left: 0;
    top: 15px;
    font-size: 26px;
}

.box {
      padding: 20px;
    }
    .show-image {
      position: relative;
      width: 360px;
      font-size: 0;
      border: 1px solid #ccc;
      overflow: hidden;
    }
    .show-image img {
      max-width: 100%;
      max-height: 100%;
    }
    .filter {
      position: absolute;
      left: 0px;
      top:0;
      width: 150px;
      height: 150px;
      background: rgba(0,0,0,0.6);
      cursor: move;
      display: none;
    }
    .img-box {
      padding: 10px;
    }
    .img-box>li {
      display: inline-block;
      border: 1px solid transparent;
      margin-left: 10px;
    }
    .img-box>li img{
      max-width: 100%;
      max-height: 100%;
    }
    .img-box>li:hover,
    .img-box>li.active {
      border: 1px solid #000;
    }
    .show-big-image {
      position: absolute;
      left: 400px;
      top: 20px;
      width: 450px;
      height: 450px;
      overflow: hidden;
      border: 1px solid #eee;
      display: none;
    }
    .show-big-image img {
      position: absolute;
      left: 0;
      top: 0;
      width: 1080px;
    }
.preview{
	float: left;
    width: 560px;
    margin-right: 40px;
}
.preview-booth{
	    margin: 8px 0;
    width: 560px;
    height: 560px;
}
.preview-thumb{
	overflow: hidden;
    margin-top: 10px;
    margin-left: 24px;
}
.preview-thumb li{
	position: relative;
    display: inline-block;
    margin: 0 24px;
    overflow: hidden;
    height: 102px;
}
.preview .preview-thumb a {
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.preview .preview-thumb img {
    position: relative;
    max-width: 80px;
    max-height: 80px;
}
.property{
	position: relative;
    float: left;
    width: 640px;
    font-size: 12px;
    padding-top: 25px;
    height: 1032px;
}
.property-hd{
	    position: relative;
    padding-top: 30px;
    margin-bottom: 12px;
}
.property-hd h1 {
    margin-bottom: 4px;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
    color: #262626;
}
.property-hd .mod-info.active{
    color: #e22841;
}
.property-sell {
    position: relative;
    background: #f4f6fa;
    padding: 16px 0 12px;
}
.property-sell-price {
    height: 36px;
    overflow: hidden;
    padding-left: 10px;
}
.property-sell-price .mod-price {
    margin-right: 8px;
    line-height: 36px;
}
.property-sell-price .mod-price small {
    font-size: 24px;
}
.property-sell-price .mod-price .vm-money {
    color: #e02b41;
    font-size: 36px;
    font-weight: 500;
}
.property-sell dl {
    margin-left: 10px;
    margin-top: 12px;
    line-height: 22px;
    font-size: 14px;
}
.property-sell dd {
    display: -ms-flexbox;
    display: flex;
    color: #595959;
}
.property-sell .vm-entry {
    float: left;
    padding-left: 0;
    line-height: 22px;
    width: 85px;
    font-size: 12px;
    color: #8c8c8c;
}
.property-sell .vm-entry span {
    border-radius: 2px;
    color: #e02b41;
    display: inline-block;
    width: 72px;
    text-align: center;
    font-size: 14px;
    line-height: 1;
    padding: 4px 0;
    background: #F2EAEF;
}
.property-sell-coupon dd {
    line-height: 16px;
    padding-top: 3px;
}
.property-sell-coupon p {
    overflow: hidden;
    cursor: pointer;
    vertical-align: middle;
    display: flex;
}
.property-sell-coupon .vm-tag {
    display: inline-block;
    margin-right: 10px;
    color: #e02b41;
    padding-right: 15px;
    border-right: 1px #e02b41 solid;
}
.property-sell .vm-more {
    color: #27b3ff;
    margin-left: 10px;
}
.property-sell-coupon .vm-tag:last-child {
    border: none;
    margin-right: 0;
    padding-right: 5px;
}
.property-sell-coupon .vm-more {
    vertical-align: middle;
}
.property-sell dd {
    display: flex;
    color: #595959;
}
.property-service {
    border-bottom: 1px dashed #dedede;
    padding: 18px 0;
}
.property-service .vm-metatit {
    line-height: 18px;
}
.property .vm-metatit {
    float: left;
    padding-left: 10px;
    font-size: 12px;
    color: #8c8c8c;
    line-height: 42px;
}
.property .s-space {
    padding: 0 6px;
}
.property-service .property-service-item .mod-bd {
    display: flex;
}
.property-service .property-service-item .mod-bd span {
    display: flex;
    margin-right: 20px;
    color: #8c8c8c;
    line-height: 20px;
}
.property-service .property-service-item .mod-bd span i {
    margin-right: 8px;
    line-height: 18px;
    color: #595959;
}
.property-service .property-service-suda {
    padding-top: 15px;
}
.property-service .property-service-suda .vm-metatit {
    line-height: 20px;
}
.site-selector {
    position: relative;
    float: left;
}
.site-selector .text {
    display: inline-block;
    padding-right: 10px;
    height: 18px;
    min-width: 96px;
    line-height: 18px;
    font-size: 14px;
    color: #262626;
    cursor: pointer;
}
.site-selector .text i {
    font-size: 12px;
    padding-left: 8px;
}
.property-service .property-service-provider {
    margin-top: 5px;
    margin-left: 74px;
    color: #8c8c8c;
    display: -ms-flexbox;
    display: flex;
    line-height: 20px;
}
.property-service .property-service-provider .vm-kefu {
    margin-left: 10px;
    color: #27b3ff;
    display: flex;
}

.property-set-sale, .property-sibling-item {
    margin-top: 20px;
    margin-bottom: -10px;
    height: 52px;
}
.property-buy .vm-metatit, .property-huabei .vm-metatit, .property-service .vm-metatit, .property-set .vm-metatit, .property-sibling .vm-metatit {
    width: 65px;
}
.package-tab a.selected, .property-huabei-bd a.selected, .property-set-sale a.selected, .property-sibling-item a.selected {
    border-color: #000;
    color: #000;
}
.package-tab a, .property-huabei-bd a, .property-set-sale a, .property-sibling-item a {
    position: relative;
    float: left;
    width: 176px;
    margin: 0 10px 10px 0;
    background-color: #fff;
    white-space: nowrap;
    line-height: 40px;
    border: 1px solid #BFBFBF;
    border-radius: 2px;
    color: #595959;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}
.property-set-package{
	height: 106px;
}
.property-set-package dd, .property-set-sale dd, .property-sibling-item dd {
    float: left;
    width: 565px;
    overflow: hidden;
}
.package-tab .vm-text {
    display: block;
}
.package-tab .vm-text-profits, .package-tab .vm-text-standard {
    font-size: 12px;
    margin-left: 5px;
}
.package-tab .vm-text-profits {
    color: #f86467;
}
.package-tab {
    position: relative;
    z-index: 10;
    overflow: hidden;
}
.package-tab, .property-set-sale dd {
    margin-right: -20px;
}
.property-huabei .property-huabei-bd {
    float: left;
    width: 565px;
    overflow: hidden;
    margin-bottom: -10px;
    margin-right: -20px;
}
.property-huabei .property-huabei-bd a {
    padding: 7px 0;
    cursor: pointer;
    width: 176px;
}
.property-huabei .property-huabei-bd a>span {
    display: block;
    line-height: 18px;
    font-size: 14px;
    color: #595959;
}
.property-huabei .property-huabei-bd a>span.vm-rate {
    color: #8c8c8c;
    font-size: 12px;
    padding-top: 3px;
}
.property-huabei{
	position: relative;
    height: 55px;
}
.property-buy {
	margin-top: 20px
}

.property-buy .property-buy-action {
	margin-top: 17px;
	margin-left: 10px
}

.property-buy .vm-message {
	position: relative;
	font-size: 16px;
	margin-left: 10px;
	color: #e02b41
}

.property-buy .vm-message.error {
	padding-left: 25px
}

.property-buy .vm-message.error:after {
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	width: 16px;
	height: 16px;
	background: url(../img/icons-9697935577.png) left -40px no-repeat
}

.property-buy .mod-control {
	position: relative;
	z-index: 1;
	height: 40px;
	width: 122px;
	overflow: hidden
}

.property-buy .mod-control a {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	border: 1px solid #e7e7e7;
	color: #000;
	background: #f7f7f7
}

.property-buy .mod-control a.disabled {
	cursor: default;
	color: #e0e0e0
}

.property-buy .mod-control input {
	position: absolute;
	top: 0;
	right: 30px;
	width: 60px;
	height: 38px;
	padding: 0;
	line-height: 40px;
	font-size: 12px;
	text-align: center;
	color: #595959;
	border: 1px solid #dedede
}

.property-buy .vm-service a,
.property-related li a:hover {
	color: #000
}

.property-buy .mod-control .vm-minus {
	right: 90px
}

.property-buy .vm-service {
	padding-top: 20px;
	padding-left: 10px
}

.property-buy .vm-tips {
	position: relative;
	margin-left: 15px;
	padding: 0 5px;
	line-height: 20px;
	border: 1px solid #dedede
}

.property-buy .vm-tips .s-triangle {
	position: absolute;
	top: 2px;
	left: -6px;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #c9c9c9
}

.property-buy .vm-tips .s-triangle:after {
	position: absolute;
	top: -5px;
	left: 1px;
	content: "";
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 6px solid #fff
}

.property-buy .vm-tips em {
	cursor: pointer
}

.property-buy .btn {
	padding: 15px 0;
	width: 208px;
	font-size: 20px;
	line-height: 24px
}

.property-buy .btn.btn-empty {
	font-size: 18px;
}

.property-buy-quantity {
	margin-bottom: 45px
}
.property-sibling{
	height: 106px;
}
.property-set{
	height: 292px;
}
.property-buy .property-buy-action {
    margin-top: 17px;
    margin-left: 10px;
}
.mr20 {
    margin-right: 20px!important;
}
.btn-lg {
    padding: 10px 30px;
    line-height: 1.33333;
    border-radius: 3px;
}
.btn-primary {
    color: #fff;
    background-color: #27b3ff;
}
.btn {
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    user-select: none;
}
.btn, .diff-operate, .match-alert-bd, .tcenter {
    text-align: center;
}
.property-buy-action a{
	display: inline-block;
}
.simple {
    background: #f4f4f4;
    padding-bottom: 60px;
    margin-top: 60px;
}
.simple-hd {
    font-size: 24px;
    padding-top: 45px;
    padding-bottom: 20px;
    height: 36px;
}
.row1{
	height: 1032px;
}
.row{
	height: 1061px;
}
.simple-bd{
	height: 900px;
}
.detail-recommend {
    background: #f4f4f4;
    overflow: hidden;
}
.detail-recommend-hd {
    overflow: hidden;
    margin-bottom: 14px;
}
.detail-recommend-hd .mod-title {
    font-size: 24px;
    color: #333;
    font-weight: 400;
    float: left;
}
.detail-recommend-hd .mod-control {
    float: right;
}
.detail-recommend-hd .mod-control .vm-next.flex-disabled, .detail-recommend-hd .mod-control .vm-prev.flex-disabled {
    color: #efefef;
    border-color: #dedede;
}
.detail-recommend-hd .mod-control a {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #bfbfbf;
    cursor: pointer;
    font-size: 12px;
    color: #bfbfbf;
}
.detail-recommend-slider {
    overflow: hidden;
    height: 338px;
    margin-bottom: 60px;
}
.detail-rs-item {
    position: relative;
    float: left;
    height: 338px;
    width: 240px;
    margin-right: 9px;
    background: #fff;
}
.detail-rs-item-wrap {
    display: block;
    padding: 30px 10px 5px;
    text-align: center;
}
.mod-desc {
    margin-top: 26px;
    text-align: center;
}
.mod-desc .vm-title {
    font-size: 14px;
    color: #333;
    overflow: hidden;
}
.detail-rs-item-wrap .mod-desc .vm-subtitle-red {
    color: #f14361;
}
.mod-desc .vm-subtitle {
    font-size: 12px;
    color: #999;
    margin-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.detail-rs-item-wrap .mod-desc .vm-price {
    margin-top: 8px;
    font-size: 12px;
    color: #e02b41;
}
.detail-rs-item-wrap .mod-desc .vm-price-text {
    color: #e02b41;
    padding-right: 2px;
    font-size: 16px;
}
.detail-recommend-slider-wrap{
	width: 1400%;
}
.meizu-footer {
	height: 247px;
	padding: 0;
	font-size: 14px;
	color: #515151;
	position: relative;
	background-color: #fff;
}

.meizu-foot-link {
	height: 178px;
	padding: 48px 0 20px;
	border-top: 1px solid #f1f1f1;
}

.meizu-foot-wrap {
	height: 178px;
}

.meizu-row {
	max-width: 1240px;
	position: relative;
}

.meizu-footer-service {
	width: 1000px;
	float: left;
	height: 69px;
}

.meizu-footer-service li {
	float: left;
	text-align: center;
	width: 15%;
	height: 69px;
}

.meizu-footer-service li a {
	display: block;
	line-height: 27px;
	font-size: 12px;
	color: #666;
}

.meizu-footer-service li a img {
	width: 50px;
	display: block;
	margin: 0 auto;
	padding: 0;
	border: 0;
}

.meizu-footer-service li span {
	line-height: 30px;
	color: #999;
}

.onlive-server {
	height: 103px;
	float: right;
	text-align: right;
	margin-top: -18px;
}

.onlive-server span {
	color: #999;
	font-size: 12px;
	line-height: 30px;
}

.tel {
	color: #00c3f5;
	font-size: 25px;
	font-weight: 400;
	margin-top: -6px;
	margin-bottom: 0;
	line-height: 40px;
}

.footer-hr {
	float: left;
	margin: 10px auto 28px;
	display: block;
	height: 1px;
	border-top: 1px solid #eee;
	padding: 0;
	width: 1240px;
}

.meizu-footer .meizu-footer-info {
    color: #999;
    text-align: left;
    font-size: 12px;
    width: 100%;
}
.meizu-footer-info img {
	margin-bottom: -9px;
}

.meizu-footer-info-left {
	float: left;
}

.meizu-footer-info-left ul {
	height: 18px;
	padding: 0;
	margin: 0;
}

.meizu-footer-info-left ul li {
	padding-right: 15px;
	border-right: 1px solid #d6d6d6;
	float: left;
	height: 18px;
	margin-right: 15px;
}

.meizu-footer-info-left ul li:last-child {
	border: 0;
}

.meizu-footer-info-left ul li>a:hover {
	color: #31a5e7;
}

.meizu-footer-certificate {
	font-size: 12px;
	padding-top: 8px;
	color: #999;
}

.meizu-footer-certificate a {
	margin: 0 3px;
}

.meizu-footer-certificate>a:hover {
	color: #31a5e7;
}

.meizu-row2 {
	max-width: 1240px;
	height: 53px;
	position: relative;
}

.ii-subscribe {
	float: right;
	margin-top: 25px;
	position: relative;
}


.ii-subscribe a {
	color: #999999;
}

/*.ii-subscribe i:nth-of-type(1){
	color: #999999;
}*/

.ii-subscribe a img {
	position: absolute;
	bottom: 40px;
	left: -10px;
	width: 180px;
	display: none;
}

.ii-subscribe-img {
	display: inline-block;
	width: 21px;
	height: 18px;
	position: relative;
	top: 4px;
	background-repeat: no-repeat;
	background-position: center center;
}

.ii-hr {
	display: inline-block;
	width: 1px;
	height: 14px;
	background: #eee;
	margin: 0 10px;
	position: relative;
	top: 5px;
	*top: 3px
}
.meizu-footer .meizu-footer-info-left .footer-info-license {
    margin: 0;
}

.ii-subscribe a {
    display: inline-block;
    *margin-right: 3px;
}

.meizu-footer a {
    color: #515151;
    text-decoration: none;
}

.meizu-footer .onlive-server .onlive-btn{
	height: 30px;
	padding: 0 16px;
	overflow: hidden;
	position: relative;
	text-align: center;
	line-height: 30px;
	color: #fff;
	border-radius: 20px;
	margin-top: 3px;
	display: inline-block;
	font-size: 14px;
	background: #0bbbef;
}
.meizu-footer .meizu-footer-info-left ul a {
    display: block;
    line-height: 18px;
}
.meizu-footer .meizu-foot-link a {
    line-height: 27px;
    font-size: 12px;
    color: #666;
}
.meizu-footer .meizu-footer-info-left a {
    color: #999;
}

.meizu-footer .meizu-footer-info-left .meizu-footer-language .icon-lang-logo-cn {
    background-position: 0 0;
}
.meizu-footer .meizu-footer-info-left .meizu-footer-language i {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    background-image: url(../images/img23.png) no-repeat;
    background-size: cover;
}
.meizu-footer .meizu-footer-info-left i {
    position: relative;
    top: 4px;
    *top: 2px;
    display: inline-block;
    height: 18px;
    background-position: center center;
    background-repeat: no-repeat;
}
.meizu-footer .meizu-footer-info-left .footer-info-record {
    margin: 0 2px;
}
.meizu-footer .meizu-footer-info-left .footer-info-record i{
	width: 14px;
    background-image: url(../images/img35.png);
    background-size: 96%;
}
.meizu-footer .meizu-footer-info-left .footer-info-license i {
    width: 20px;
    background-image: url(../images/img25.png);
    background-size: 96%;
}
.meizu-footer .meizu-footer-info-left .footer-info-wel {
    margin: 0;
}
.meizu-footer .meizu-footer-info-left .footer-info-wel i {
    width: 20px;
    background-image: url(../images/img28.png);
    background-size: 96%;   
}
.meizu-footer .meizu-footer-info-left .footer-info-trust{
	margin: 0;
}
.meizu-footer .meizu-footer-info-left .footer-info-trust i {
    width: 25px;
    background-image: url(../images/img29.png);
    background-size: 96%;   
}
.meizu-footer .meizu-footer-info .ii-subscribe a:nth-of-type(1) .ii-subscribe-img{
	background-image: url(../images/img25.png);
	background-size: 96%;
}
.meizu-footer .meizu-footer-info .ii-subscribe a:nth-of-type(2) .ii-subscribe-img{
	background-image: url(../images/img29.png);
	background-size: 96%;
}
.meizu-footer .meizu-footer-info .ii-subscribe a:nth-of-type(3) .ii-subscribe-img{
	background-image: url(../images/img28.png);
	background-size: 96%;
}
.meizu-footer .meizu-footer-info .ii-subscribe a:nth-of-type(4) .ii-subscribe-img{
	background-image: url(../images/img35.png);
	background-size: 96%;
}
.meizu-footer .meizu-footer-info .ii-subscribe a:nth-of-type(1):hover img{
	display: block;
}
.meizu-footer .meizu-footer-info .ii-subscribe a:nth-of-type(1):hover .ii-subscribe-img{
    background-image: url(../images/img32.png);
}
.meizu-footer .meizu-footer-info .ii-subscribe a:nth-of-type(2):hover img{
	display: block;
}
.meizu-footer .meizu-footer-info .ii-subscribe a:nth-of-type(2):hover .ii-subscribe-img{
    background-image: url(../images/img36.png);
}
.meizu-footer .meizu-footer-info .ii-subscribe a:nth-of-type(3):hover .ii-subscribe-img{
    background-image: url(../images/img33.png);
}
.meizu-footer .meizu-footer-info .ii-subscribe a:nth-of-type(4):hover .ii-subscribe-img{
    background-image: url(../images/img26.png);
}
.meizu-footer .meizu-footer-info-left  .footer-info-license:hover i{
    background-image: url(../images/img32.png);
}
.meizu-footer .meizu-footer-info-left .footer-info-wel:hover i{
    background-image: url(../images/img33.png);
}
.meizu-footer .meizu-footer-info-left .footer-info-trust:hover i{
    background-image: url(../images/img36.png);
}

