.content{
	width: 1200px;
	margin: 0 auto;
}
#warrper_head{
	width: 100%;
	height: 68px;
	background: white;
}
#haed{
	width: 1200px;
	height: 68px;
	background: white;
}
#haed h1 a{
	display: block;
	width: 109px;
	height: 19px;
	background: url(../img/base.png) -4px -4px;
	text-indent: -9999px;
	margin-top: 28px;
}
#wapper_banner{
	width: 100%;
	height: 750px;
	background: url(../img/banner.png) center no-repeat;
	background-color: #edf9fb;
	
}
.banner{
	
	height: 750px;
	margin: 0 auto;
	position: relative;
}
.zhuce{ 
	width: 368px;
	background: white;
	position:absolute;
	right: 66px;
	top: 220px;

}
.zhuce h2{
	font-size: 18px;
	color: #387aff;
	text-align: center;
	margin-top: 72px;
	margin-bottom: 80px;
}
.zhuce form{
	margin:  0 0 0 36px;
}
.zzyz{
	width: 296px;
	height: 33px;
	line-height: 33px;
	margin:3px 0 3px 0px;
	background: #ffd1ca;
	border: 1px solid #ffc2b3;
	
}
.zzyz span:nth-child(1){
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/error-ico.png) no-repeat;
	margin-left: 12px;
	position: relative;
	top: 2px;
}
.zzyz span:nth-child(2){
	color: #666666;
	font-size: 12px;
	margin-left: 12px;
}
.zzyz span:nth-child(3){
	display: inline-block;
	width: 13px;
	height: 12px;
	background: url(../img/close-ico.png) no-repeat;
	float: right;
	margin-right: 12px;
	position: relative;
	top: 10px;
	cursor:pointer
}
.all{
	height: 46px;
	width: 296px;
	border: 1px solid #dadada;
}
.alow{
	width: 276px;
	height: 20px;
	margin-top: 16px;
}
.alow span{
	display: inline-block;
	width: 62px;
	height: 20px;
	border-right: 1px solid #dadada;
	float: left;
	cursor: pointer;
	
}
.alow span input{
	border: 0;
	width: 36px;
	height: 20px;
	
	margin-left: 12px;
	float: left;
}
.alow span i{
	display: inline-block;
	width: 14px;
	height: 8px;
	background: url(../img/arrow-down.png) no-repeat;
	position: relative;
	top: 6px;
	float: left;
	
}
.inp{
	float: left;
	height: 18px;
	width: 200px;
	border: 0;
	margin-left: 12px;
	
}

.pasd{
	height: 46px;
	width: 296px;
	border: 1px solid #dadada;
	margin-top: 5px;
}
.pasd input{
	height: 80%;
	width: 280px;
	border: 0px;
	margin-top: 6px;
	margin-left: 16px;
}
.zhuce form p{
	color: #515151;
	font-size: 12px;
	margin: 50px 33px 5px 0px;
}
.zhuce form p span{
	color: #387aff;
}

.btn{
	width: 300px;
	height: 46px;
	background: #387aff;
	
	border: 0;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
.wj{
	width: 300px;
	height: 100%;
	margin: 12px 0 26px 0px;
	display: flex;
	justify-content: space-between;
}
.wj span a{
	color: #387aff;
}
#warrper_foot{
	height: 132px;
	width: 100%;
	background: white;
}
.foot{
	height: 130px;
	background: white;
	overflow: hidden;
}
.foot p:nth-child(1){
	margin-top: 20px ;
	margin-left: 98px;
	
}
.foot p:nth-child(1) a{
	color: black;
	font-size: 14px;
}
.foot p:nth-child(1) span:nth-child(2){
	 margin-left: 40px;
}
.foot p:nth-child(1) span:nth-child(2) i:nth-child(3){
	display: inline-block;
	margin-left: 24px;
	width: 64px;
	height: 18px;
	background:#32a5e7;
	text-align: center;
	color: white;
	line-height: 18px;
}
.foot p:nth-child(1) span:nth-child(3){
	margin-left: 143px;
}
.foot p:nth-child(1) span:nth-child(3) a{
	display: inline-block;
	width: 32px;
	height: 32px;
}
.foot p:nth-child(1) span:nth-child(3) a:nth-child(1){
	background:url(../img/base.png) -218px -91px no-repeat;
	position: relative;
	top: 10px;
}
.foot p:nth-child(1) span:nth-child(3) a:nth-child(2){
	background:url(../img/base.png) -302px -91px no-repeat;
	position: relative;
	top: 10px;
	margin-left: 14px;
}.foot p:nth-child(1) span:nth-child(3) a:nth-child(3){
	background:url(../img/base.png) -344px -91px no-repeat;
	position: relative;
	top: 10px;
	margin-left: 14px;
}
.foot p:nth-child(2){
	color: #7f7f7f;
	font-size: 12px;
	margin: 26px 0 0 98px;
}
.foot p:nth-child(2) i{
	display: inline-block;
	height: 20px;
	width: 20px;
	background: url(../img/ghs.png) no-repeat;
}
